
body{
    color: #1a1c1b;
    margin: 0;
    text-align: center; 
    font-family:'Merriweather',serif ; 
       font-size: 2em;
    background-color: aqua;
}
h1{
    color: #47331c;
    /*rem most used instead of em because it give less error */
    font-size: 5.625rem;
    margin-top: 50px;
    font-family: 'Sacramento',cursive;
}
h2{
    color: #2f3131;
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
}
h3    {
    font-family: 'Montserrat',sans-serif;
}
.skills{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: center;
}
.top-container{

    position: relative;
    padding-top: 100px;
}


.pro{
    text-decoration: underline  ;
}
.top-cloud{
    position: absolute;
    right:30px;
    top:50px;
}
.bottom-cloud{
    position: absolute;
    left:30px;
    bottom:30px;
}
 
img {
    border-radius: 50%;
}  
.middle-container{
   
        border-radius: 50%;
    
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #7ee4e6;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  } 
  .bottom-container{
    background-color: aquamarine;
    padding:50px 0 20px;
  }
  a.footer-link{
    margin:10px 20px;/*left  right && top bottom */
  }
  a:hover{
    color: #df4938;
  }
  .copyright{
    font-size:0.75rem ;
  }